<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group26.ticketreservation">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/airplane_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateTicketActivity"
            android:label="@string/create_ticket_title" />
        <activity
            android:name=".EditTicketActivity"
            android:label="@string/edit_ticket_title" />
        <activity
            android:name=".DeleteTicketActivity"
            android:label="@string/delete_ticket_title" />
        <activity android:name=".ViewTicketActivity"
            android:label="View Ticket"/>
        <activity android:name=".PrintTicketActivity"
            android:label="Print Ticket"></activity>
    </application>

</manifest>
